.container {
  display : -webkit-flex;
  flex-direction : column;
  align-items : center;
  width : 100%;
  height : 100%;
}

.container :nth-child(n) {
  height : 100px;
  width : 100px;
  margin-top : 10px;
  text-align : center;
  font : 40px Tahoma,Geneva,sans-serif;
}

.container :nth-child(odd) {
  border-top : 1px solid #687291;
  background-color : #dfe1e7;
}

.container :nth-child(even) {
  border-top : 1px solid #687291;
  background-color : #eeeff2;
}

.container :last-child {
  border-top : 4px solid black;
  background-color : #687291;
  line-height : 100px;
}
